spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nexusedu
    username: nexus
    password: password
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect